parameters:
  paths:
    - .

  excludePaths:
    - Tests/*
    - vendor/*
    - EventSubscriber/*MessageProcessingSubscriber.php # TODO: remove exclusion after disbanding Symfony 3.4

  level: 9
  inferPrivatePropertyTypeFromConstructor: true
